.wrapper {
  display: flex;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: stretch;
  height: 400px;
  margin-bottom: 0;
}

.form-section {
  padding: 20px;
  padding-top: 0;
}

.form-title {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input {
  font-size: 16px;
  background: white;
  height: 40px;
  width: 380px;
  border-radius: 30px;
  padding: 10px;
  border: none;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  border-width: 2px;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
}

.message textarea {
  font-size: 16px;
  background: white;
  height: 100px;
  width: 400px;
  border-radius: 30px;
  padding: 14px;
  border: none;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  border-width: 2px;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
}

button {
  background: #ffffff;
  color: #242424;
  height: 40px;
  width: 390px;
  border-radius: 30px;
  outline-color: #36363685;
  border: none;
  border-width: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.1s ease-out;
  margin-top: 0;
}

button:hover {
  background: rgb(207, 207, 207);
  box-shadow: 0px 0px 10px #242424;
  transform: scale(1.02);
}

.name {
  text-transform: capitalize;
}

.name::placeholder {
  background-image: url("../assets/imgs/username.webp");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10px;
  padding-left: 40px;
}

.name:focus::placeholder {
  color: transparent;
  background-image: none;
}

.mail::placeholder {
  background-image: url("../assets/imgs/sobre.webp");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10px;
  padding-left: 40px;
}

.mail:focus::placeholder {
  color: transparent;
  background-image: none;
}

@media (max-width: 1043px) {
  .message textarea {
    width: 330px;
  }
  button {
    width: 320px;
    margin: 0;
  }
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  input {
    width: 320px;
  }
  .form-section {
    padding-right: 0;
    padding-left: 0;
  }
}
