* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    170deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(172, 172, 172, 1) 64%
  );
}
