.brand-logo img {
  display: flex;
  height: 100px;
  padding: 0;
  margin: 0 auto;
  user-select: none;
  padding-top: 15px;
}

.brand-logo {
  display: flex;
  margin: 21px;
  margin-bottom: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.rating-box header {
  font-size: 22px;
  color: #242424;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #9b9b9b;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}

button {
  background: #242424;
  margin: 30px;
  color: white;
  height: 40px;
  width: 320px;
  border-radius: 30px;
  outline-color: #36363685;
  border: none;
  border-width: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-out;
}

button:hover {
  background: rgb(53, 53, 53);
  box-shadow: 0px 0px 10px #242424;
  transform: scale(1.02);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
}

.footer p {
  margin: 0;
}
  