* {
  box-sizing: border-box;
}

.slideshow-container {
  position: relative;
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.mySlides {
  display: none;
  padding: 0px;
  flex-direction: column;
  align-items: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  padding-top: 17px;
  padding-left: 23px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  margin-top: -22px;
  color: #242424;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.prev:hover,
.next:hover {
  color: #ffffff;
}

.next {
  right: 0;
  padding-top: 17px;
  padding-left: 25px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
}

.prev:hover,
.next:hover {
  background-color: #242424e8;
}

.numbertext {
  color: #242424;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.text {
  color: #242424;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #646464;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #242424;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .slideshow-container {
    margin-left: 0;
    margin-right: 0;
  }

  .next {
    border-radius: 30px 0 0 30px;
  }

  .prev {
    border-radius: 0 30px 30px 0;
  }
}
