.features-container {
  background-color: rgb(36, 36, 36);
  margin: 20px;
  backdrop-filter: blur(10px);
  margin-top: 150px;
  border-radius: 20px;
  height: auto;
}

.features-title {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.icon img {
  width: 20%;
  height: auto;
  margin: auto;
  padding: 20px;
  padding-bottom: 0px;
  display: block;
  margin: 0 auto;
}
.card {
  background-color: rgb(36, 36, 36);
  border-radius: 20px;
  margin: 0px;
  transition: all ease 0.2s;
  height: 100%;
}

.card-span {
  padding: 7px;
  text-align: center;
  font-size: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.card p {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
}

.card {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 10px 10px 3px rgba(7, 7, 7, 0.5);
}
.container {
  max-width: 100%;
  padding: 40px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: white;
  font-family: "";
}

@media (max-width: 1084px) {
  .card:nth-last-child(3) {
    grid-area: 3/1/2/3;
  }
  .features-container {
    margin-top: 50px;
  }
}

@media (max-width: 711px) {
  .features-container {
    margin: 0;
    margin-top: 50px;
  }
  .card:nth-last-child(3) {
    grid-area: unset;
  }

  .features-title {
    font-size: 23px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
}
